@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic:wght@400..700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

header, footer, .hero, .productinfo, .testimonial, .cta {
  height: 400px;
  display: flex;
  justify-content: center;
}

header {
  background-color: #1f2937;
  height: 75px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

nav > ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 40px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 0px;
  color: #1f2937;
}

.title-bar {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.hero > div {
  width: 1000px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 10px;
  border: none;
  padding: 10px 35px;
  font-weight: bold;
}

.productinfo {
  flex-direction: column;
  text-align: center;
}

.product-image {
  border: 4px solid #3882f6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.product-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 200px;
}

.product-gallery {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 18px;
}

.testimonial {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.quote > blockquote, .quote > figcaption {
  width: 850px;
}

.quote > figcaption {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.cta {
  align-items: center;
}

.cta > div {
  background-color: #3882f6;
  color: #f9faf8;
  width: 1000px;
  height: 100px;
  padding: 20px 50px;
  display: flex;
  align-items: center;;
}

.cta > div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.cta-header {
  font-size: 20px;
  font-weight: 700;
}

.cta-button {
  background-color: transparent;
  color: #f9faf8;
  border: 3px solid #f9faf8;
  border-radius: 10px;
  padding: 10px 20px;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  height: 75px;
  align-items: center;
}